[{wifi_mgr,
  [{conf_dir, "/tmp"},
   {conf_file, "wifi_mgr.conf"},
   {access_point_ssid, "MyAccessPoint"},
   {access_point_password, "12345678"},
   {access_point_channel, 1},
   {wlan0_ip_addr, "192.168.100.1"},
   {wlan0_ip_mask, "255.255.255.0"},
   {wlan0_ip_network, "192.168.100.0"},
   {dhcp_ip_addr_min, "192.168.100.100"},
   {dhcp_ip_addr_max, "192.168.100.200"},
   {dhcp_lease_time, "24h"}
  ]}
].
