[{wifi_mgr,
  [{server_port, 80},
   {conf_dir, "/etc"},
   {conf_file, "wifi_mgr.conf"},
   {access_point_ssid, "AirMasjid"},
   {access_point_password, "masjidtv"},
   {access_point_channel, 1},
   {wlan0_ip_addr, "192.168.4.1"},
   {wlan0_ip_mask, "255.255.255.0"},
   {wlan0_ip_network, "192.168.4.0"},
   {dhcp_ip_addr_min, "192.168.4.2"},
   {dhcp_ip_addr_max, "192.168.4.20"},
   {dhcp_lease_time, "24h"}
  ]}
].
